.contact-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem 1rem;
    text-align: center;

    margin-bottom: 7rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(255, 101, 132, 0.35);
}

.btn-primary {
    background: linear-gradient(90deg, #6c63ff, #ff6584);
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-outline-secondary {
    padding: 10px 24px;
    border-radius: 8px;
}