@import 'variables';

#description,
#about
// #my-work,
// #contact 
{
  scroll-margin-top: 80px; // cât e navbar-ul tău
}

body {
  background-color: #e183c263;
}

.dark-theme {
  background: rgb(33 1 36 / var(--tw-bg-opacity, 1));
  color: white;
}

.dark-theme .about .intro {
  color: #eee !important;
}


.dark-theme a,
.dark-theme .menu a {
  color: #ddd !important;
}

.dark-theme .contact-outline {
  border-color: #bbb;
  color: #bbb;
}

.dark-theme .contact-outline:hover {
  background: #bbb;
  //color: #121212;
}
